menu: [
  label: "Packages"
  submenu: [
    label: "CartoDB"
    submenu: [
      { label: "Preview", command: "cartodb:preview" }
      { label: "Export as Named Map JSON", command: "cartodb:cartodb-export" }
      { label: "Export as TileMill Project", command: "cartodb:tilemill-export" }
    ]
  ]
]

"context-menu":
  "atom-text-editor:not([mini])[data-grammar~='source'][data-grammar~='yaml']":
    [
      { label: "CartoDB Preview", command: "cartodb:preview" }
      { label: "Export as Named Map JSON", command: "cartodb:cartodb-export" }
      { label: "Export as TileMill Project", command: "cartodb:tilemill-export" }
    ]
  ".tree-view .file .name[data-name$=\\.yml]":
    [
      { label: "CartoDB Preview", command: "cartodb:preview" }
      { label: "Export as Named Map JSON", command: "cartodb:cartodb-export" }
      { label: "Export as TileMill Project", command: "cartodb:tilemill-export" }
    ]
